.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 40px;
}

.course-description {
    width: 80%;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    margin-bottom: 20px;
    font-size: 18px;
}

li {
    margin-bottom: 10px;
}